*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

