@import "variables";
@import "default";

@mixin button {
  border: 4px solid $gold;
  padding: 15px;
  background-color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  top: 0;
  position: relative;

  &:hover {
    background-color: $gold;
    transition: all 0.2s;
    cursor: pointer;
  }

  &:active {
    top: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.23);
  }

  &[disabled] {
    border-color: #6e6e6e;
    color: #838282;

    &:hover {
      background-color: transparent;
      border-color: #6e6e6e;
      color: #838282;
      cursor: default;
      top: 0;
      box-shadow: none;
    }
  }
}
